body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: solid 1px #dfe0e0;
    border-radius: 4px;
    padding: 5px;
    margin-top: .5em;
    margin-bottom: .5em;
}
.message-info {
    background-color: #cddefd;
    color: #3a3194;
}
.message-success {
    background-color: #cff3da;
    color: #277c4b;
}
.message-warning {
    background-color: #fcfbc9;
    color: #AB9B4B;
}
.message-error {
    background-color: #fad3d7;
    color: #821D32;
}