body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root {
    --bg-info: #cddefd;
    --text-info: #3a3194;
    --bg-success: #cff3da;
    --text-success: #277c4b;
    --bg-warning: #fcfbc9;
    --text-warning: #AB9B4B;
    --bg-error: #fad3d7;
    --text-error: #D21D32;
}
.message {
    border: solid 1px #dfe0e0;
    border-radius: .35em;
    padding: .5em;
    margin: .5em auto;
    width: 95%;
}
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info)
}
.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}
.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}
.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}